 <div class="app-wrapper">
    <!-- header start -->
     <app-header></app-header>
     <!-- header end -->

         <!-- sidebar start -->
           <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
     <app-sidebar></app-sidebar>
     </aside>
     <!-- sidebar end -->

        <!-- main start -->
    <main class="app-main">
    <router-outlet></router-outlet>
</main>
     <!-- main end --> 


            <!-- footer start -->
     <app-footer></app-footer>
     <!-- footer end -->

<div class="sidebar-ovrlay"></div>
</div>


